

<footer class="py-4 mt-5">
     <div class="container text-center">
         <ul class="nav justify-content-center border-bottom pb-3 mb-3">
             <li class="nav-item"><a href="#" class="nav-link px-3 text-light">Home</a></li>
             <li class="nav-item"><a href="#" class="nav-link px-3 text-light">Contact</a></li>
             <li class="nav-item"><a href="#" class="nav-link px-3 text-light">FAQs</a></li>
             <li class="nav-item"><a href="#" class="nav-link px-3 text-light">About</a></li>
         </ul>
         <p class="text-light">© <%= new Date().getFullYear() %> Company, Inc</p>
     </div>
 </footer>
 
</body>
</main>

