<footer class="py-4 mt-5 bg-dark text-white">
    <div class="container text-center">
      <!-- Navigation Links -->
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-3 text-light">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-3 text-light">Contact</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-3 text-light">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-3 text-light">About</a></li>
      </ul>
  
      <!-- Social Media Icons -->
      <div class="mb-3">
        <a href="#" class="mx-2 text-light"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="#" class="mx-2 text-light"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="#" class="mx-2 text-light"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="#" class="mx-2 text-light"><i class="fab fa-linkedin fa-lg"></i></a>
      </div>
  
      <!-- Copyright -->
      <p class="mb-0">© <%= new Date().getFullYear() %> TTECH, Inc. All rights reserved.</p>
    </div>
  </footer>
  
  
</body>
</main>

